<!DOCTYPE html>
<html>
<head>
	<title>SubtitlesFinder</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800|Dosis:300,400" rel="stylesheet" type="text/css">
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="back">
		<div class="test">
			<img src="http://placekitten.com/g/200/300">
			<img src="http://placekitten.com/g/200/300">
			<img src="http://placekitten.com/g/200/300">
			<img src="http://placekitten.com/g/200/300">
			<img src="http://placekitten.com/g/200/300">
			<img src="http://placekitten.com/g/200/300">
			<img src="http://placekitten.com/g/200/300">
			<img src="http://placekitten.com/g/200/300">
			<img src="http://placekitten.com/g/200/300">
			<img src="http://placekitten.com/g/200/300">
			<img src="http://placekitten.com/g/200/300">
			<img src="http://placekitten.com/g/200/300">
			<img src="http://placekitten.com/g/200/300">
			<img src="http://placekitten.com/g/200/300">
			<img src="http://placekitten.com/g/200/300">
			<img src="http://placekitten.com/g/200/300">
			<img src="http://placekitten.com/g/200/300">
			<img src="http://placekitten.com/g/200/300">
			<img src="http://placekitten.com/g/200/300">
			<img src="http://placekitten.com/g/200/300">
			<img src="http://placekitten.com/g/200/300">
			<img src="http://placekitten.com/g/200/300">
			<img src="http://placekitten.com/g/200/300">
			<img src="http://placekitten.com/g/200/300">
		</div>
	</div>

	<section id="home" class="full-screen">

		<span class="raster"></span>

		<div class="container">

			<div class="col-lg-5 main-square">

				<i class="fa fa-comment"></i>
				<br /><br />
				Select your language

				<div class="selected">
					<img lang="fr" src="<%= image_path('flag_fr.png') %>">
					<img lang="en" src="<%= image_path('flag_en.png') %>">
				</div>

			</div>

			<div class="col-lg-2 hidden-xs" style="margin: 12% auto; font-size: 80px; color: white;">
				<i class="fa fa-arrow-right"></i>
			</div>

			<div class="col-lg-5 main-square hidden-xs">

				<i class="fa fa-cloud-download"></i>
				<br /><br />
				Now, drop your file !

			</div>

		</div>

	</section>

	<header id="header">

		<nav class="navbar navbar-inverse" role="navigation">
			<div class="container">


				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

					<ul class="nav">
						<li><a href="#home" class="scrollTo">Home</a></li>
						<li><a href="#subs" class="scrollTo">Main</a></li>
						<li><a href="#contact" class="scrollTo">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>

	</header>

	<%= yield %>

	<div class="overlay" style="display: none;">

		<div id="dropit" style="display: block;">
			<p class="semibold"><i class="fa fa-cloud-download"></i><br>Drop it !</p>
		</div>

		<div id="loading" style="display: none;">
			<div id="loaderImage" style="background-image: url(http://www.subloader.com/img/loading.png); width: 128px; height: 128px; background-position: -1536px 0px;"></div>
		</div>
	</div>
</body>
</html>
